body{
    background-color: #2f3d48;
    font-size: 5rem;
    color: #2f3d48;
}

h1{
    color: #94dee9;
    font-size: unset;
    margin-right: 2em;
}

.all{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: 700px;
    height: 700px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
    /* align-items: stretch; */
}

.box{
    display: flex;
    background-color: #94dee9;
    border-radius: 25px;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

#win{
    color: #94dee9;
    text-align: center;
}

span{
    color: #afebf5;
}